
<link href="/css/lifemagazine.msg.css" rel="stylesheet">

<script>

var webChatAddress = '<%= webChatAddress %>';

$(function() {

  $('.lifemagazine_msg_body_submit').click(function(e) {
     e.preventDefault();
  });

});

</script>

<div class="lifemagazine_msg_modal">
  <div class="lifemagazine_msg_header" id="lifemagazine_msg_header"></div>
  <div class="lifemagazine_msg_body" id="lifemagazine_msg_body"></div>
</div>
<script type="text/javascript" src="/js/utility.js"></script>
<script type="text/javascript" src="/js/msg.js"></script>




<!-- <div class="lifemagazine_msg_modal">
  <div class="lifemagazine_msg_header">
    <button id="" class="lifemagazine_msg_general_btn">일반 문의</button>
    <button id="" class="lifemagazine_msg_error_btn">오류 신고</button>
  </div>
  <div class="lifemagazine_msg_body" style="overflow: hidden; -webkit-border-bottom-left-radius: 10px; -webkit-border-bottom-right-radius: 10px; -moz-border-bottom-left-radius: 10px; -moz-border-bottom-right-radius: 10px;">
    <div class="lifemagazine_msg_body_top_label">
      <strong>문의사항 / 요청사항 /개선사항</strong> 등을 남겨주시면 신속하게 답변 드리겠습니다.
    </div>
    <div class="lifemagazine_msg_body_name">
      <div class="lifemagazine_msg_body_name_label"><strong>이름 </strong></div>
      <input type=text class="lifemagazine_msg_body_name_input">
    </div>
    <div class="lifemagazine_msg_body_middle_label">
      답변 받을 연락처를 남겨주세요(이메일 또는 전화번호)
    </div>
    <div class="lifemagazine_msg_body_email">
      <div class="lifemagazine_msg_body_email_label"><strong>이메일 </strong></div>
      <input type=text class="lifemagazine_msg_body_email_input">
    </div>
    <div class="lifemagazine_msg_body_phone">
      <div class="lifemagazine_msg_body_phone_label"><strong>전화번호 </strong></div>
      <input type=text class="lifemagazine_msg_body_phone_input">
    </div>
    <div class="lifemagazine_msg_body_msg">
      <textarea class="lifemagazine_msg_body_msg_input" placeholder="메세지를 입력 바랍니다."></textarea>
    </div>
    <button class="lifemagazine_msg_body_submit">메세지 보내기</button>
  </div>
</div> -->

