

#wrapper{  width: 100%; height: 100%; position: absolute; overflow-y:scroll;}

.tradlinx-chat-foothold {
    position:fixed;
    bottom:0;
    right:0;
    width:316px;
    font-size: 0.85em;
    z-index:100;
}

.tradlinx-chat-floor1 {
    position:relative;
}

.tradlinx-active-chat-logo {
    position:absolute; left:11px; top:8px;
}

.tradlinx-inactive-chat-logo {
    position:absolute; left:8px; top:8px;
}

#tradlinx-modal-close {
    position:absolute; left:288px; top:9px; width:15px; height:15px; cursor: pointer;
}

.inacviebutton {
    position: relative;
    bottom: 0;
    right: 0px;
    width:316px;
    z-index: 999;
}

.tradlinx-chat-modal {
    position: relative;
    display: none;
    bottom: 0px;
    right: 4px;
    width:316px;
    height:450px;
    margin-left:0px;
    z-index: 1000;
}

#previewchat {
    overflow: hidden;
    position : absolute;
    top: 34px;
    border: solid 1px #bbbbbb;
    width: 316px;
    height: 416px;
    color: red;
    padding: 0;
    margin: 0 auto;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
}

#chatIframe {
    overflow: hidden;
    position : absolute;
    top: 34px;
    border-top: 0px;
    border-left: solid 1px #cfd5d9;
    border-right: solid 1px #cfd5d9;
    border-bottom: solid 1px #cfd5d9;
    width: 316px;
    height: 0px;
    color: red;
    padding: 0;
    margin: 0 auto;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    background-color: white;
}

.tradlinx-chat-panel {
    /*bottom: 0px;
    right: 0px;
    width:300px;
    height:473px;
    margin:0px;*/
}

.tradlinx-chat-header {
    width : 316px; height : 34px; background : #ffffff; top : 0px; left : 0px; margin: 0px ; position : absolute;
/*    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;*/
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    background-color: #00a6f3;
    border-color: #00a6f3;
}
.tradlinx-chat-header-title1 {
    position:absolute; left:106px; top:9px; /*font-weight: bold; font-size: 90%;*/
    font: 14px 나눔고딕; font-weight: bold; color: #ffffff; text-align: center;
}
.tradlinx-chat-header-title2 {
    position:absolute; left:60px; top:30px; /*font-size: 80%; color:grey;*/
    font: 14px 나눔고딕; font-weight: bold; color: #ffffff;
}
.tradlinx-chat-body-top {
    width : 300px; height : 10px; background : #ffffff; top : 50px; left : 0px; margin: 0px ; position : absolute;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
}
.tradlinx-chat-body-left {
    width : 5px; height : 340px; background : #ffffff; top : 60px; left : 0px; margin: 0px ; position : absolute;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid white;
    border-bottom: 1px solid #bbbbbb;
}
.tradlinx-chat-body-center {
    width : 316px; height : 343px; background : #ffffff; top : 36px; left : 0px; margin: 0px ; overflow:auto; position : absolute;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    overflow-y:scroll;
    overflow-x: hidden;
}
.tradlinx-chat-body-center-top-dummy {
    height: 19px;
    font: 11px sans-serif; color: #a7b7c2;
}
.tradlinx-chat-footer {
    width : 314px; height : 74px; background : #ffffff; top : 400px; left : 0px; margin: 0px ; overflow:auto; position : absolute;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    border-top: 1px solid #bbbbbb;
}
.tradlinx-chat-footer-bottom {
    width : 314px; height : 10px; background : #ffffff; top : 460px; left : 0px; margin: 0px ; overflow:auto; position : absolute;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    background-color: #f3fbfe;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
}

.tradlinx-chat-footer-input {
    position: absolute; left:10px; top:9px; height: 46px; width: 296px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid #dddddd;
    font-size: 100%;
    resize:none;
}



.tradlinx-guestchat-body-left {
    width : 5px; height : 340px; background : #ffffff; top : 0px; left : 0px; margin: 0px ; position : absolute;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid white;
    border-bottom: 1px solid #bbbbbb;
}
.tradlinx-guestchat-body-center {
    width : 314px; height : 343px; background : #ffffff; top : 0px; left : 0px; margin: 0px ; position : absolute;
    border-left: 1px solid white;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    overflow-y:scroll;
    overflow-x: hidden;
}
.tradlinx-guestchat-body-center-top-dummy {
    height: 19px;
    font: 11px sans-serif; color: #a7b7c2;
}
.tradlinx-guestchat-footer {
    width : 316px; height : 74px; background : #ffffff; top : 378px; left : 0px; margin: 0px ; overflow:auto; position : absolute;
    /*border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;*/
    border-top: 1px solid #bbbbbb;
}

.tradlinx-guestchat-footer-body {
    width : 316px; height : 64px; background : #ffffff;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
}

.tradlinx-guestchat-footer-bottom {
    width : 316px; height : 10px; background : #ffffff; top : 440px; left : 0px; margin: 0px ; overflow:auto; position : absolute;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    background-color: #f3fbfe;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
}




.tradlinx-chat-inactive-bar {
    background: #00a6f3;
    width: 190px;
    height: 34px;
    left: 0px;
    bottom: 0px;
    cursor: pointer;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}
.tradlinx-chat-inactive-bar-title {
    /*position:absolute; left:37px; top:8px;*/
    position:absolute; left:33px; top:0px;
    height: 34px;
    /*font-weight: bold; font-size: 120%; color: #ffffff;*/
    font: 12px 나눔고딕; font-weight: bold; color: #ffffff; text-align: center;
    margin-top: 10px;
}
.tradlinx-chat-inactive-bar-msg {
    position:absolute; left:50px; top:25px;
    font-size: 100%; color: #bbbbbb;
}

.tradlinx-chat-ul-row {
    margin: 0px;
    padding: 0px;
}
.tradlinx-chat-row { width : 283px; height : 100px; background : #ffffff; margin: 0 ; position : relative;}
.tradlinx-chat-row-left { width : 250px; height : 100px; background : #ffffff; top : 0px; left : 15px; position : absolute;}
.tradlinx-chat-row-right { width : 250px; height : 100px; background : #ffffff; top : 0px; right : 0px; position : absolute;}

.tradlinx-chat-row-time-left {
    font-size: 80%;
    color: #cccccc;
    text-align: left;
}
.tradlinx-chat-row-time-right {
    font-size: 80%;
    color: #cccccc;
    text-align: right;
    padding-right: 20px;
}

.tradlinx-chat-left-bubble {
    position: relative;
    font-size: 90%;
    width: 220px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 3px;
    background: #F0F0F0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.tradlinx-chat-left-bubble:after {
    content: "";
    position: absolute;
    top: 9px;
    left: -12px;
    border-top: 6px solid #F0F0F0;
    border-right: 6px solid #F0F0F0;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.tradlinx-chat-right-bubble {
    position: relative;
    font-size: 90%;
    color: #ffffff;
    width: 220px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 3px;
    background: #04B0F0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.tradlinx-chat-right-bubble:after {
    content: "";
    position: absolute;
    top: 9px;
    right: -12px;
    border-top: 6px solid #04B0F0;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #04B0F0;
    display: block;
    width: 0;
    z-index: 1;
}

.tradlinx-chat-talktext {
    max-width: 220px;
    margin: 0px;
	font-size: 90%;
}

.tradlinx-chat-p {
    margin-top: 6px;
    margin-bottom: 6px;
}


.tradlinx-msg-modal {
    width:302px; height:473px; margin:0px; z-index: 1000; border: solid 1px #bbbbbb; padding: 0px;
    position: relative;
    display: none;
    bottom: 0px;
    right: 4px;
}
.tradlinx_msg_title { position: relative; top:0px; left: 0px; margin:0px; width:300px; height: 40px; background: #030066; margin: 0px;}
.tradlinx_msg_title_label { position:absolute; top: 11px; left: 130px;  margin: 0px; color: #ffffff;  font-size: 90%}
.tradlinx_msg_close { position:absolute; top: 7px; right: 20px; }
.tradlinx_msg_header { position: relative; top:0px; left: 0px; margin:0px; width:300px; height: 60px; margin: 0px; padding: 0px;}
.tradlinx_msg_general_btn { position:absolute; top: 15px; left: 20px; width: 120px; height:30px; background: #4374D9; border: solid 1px #4374D9;
    font-weight: bolder; font-size: 12px; color: #ffffff;
}
.tradlinx_msg_error_btn { position:absolute; top: 15px; left: 160px; width: 120px; height:30px; border: solid 1px #bbbbbb;
    font-weight: bolder; font-size: 12px; color: #ffffff;
}
.tradlinx_msg_body { width:270px; height: 372px; padding: 10px; margin: 0px;
    padding-top: 0px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px;
}
.tradlinx_msg_body_top_label { margin:0px; width:280px; height: 40px;  font-size: 75% }
.tradlinx_msg_body_name { position: relative; margin:0px; width:280px; height: 30px; border: solid 1px #bbbbbb; }
.tradlinx_msg_body_middle_label { width:280px; height: 25px; font-size: 70%; margin-top: 15px; margin-bottom: 0px; padding-bottom: 0px; }
.tradlinx_msg_body_email { position: relative; margin:0px; width:280px; height: 30px; border: solid 1px #bbbbbb; }
.tradlinx_msg_body_phone { position: relative; margin:0px; width:280px; height: 30px; border: solid 1px #bbbbbb; margin-top: 15px; }
.tradlinx_msg_body_msg {  position: relative; margin:0px; width:280px; height: 93px; border: solid 1px #bbbbbb; margin-top: 15px; }
.tradlinx_msg_body_submit {  margin:0px; width:280px; height: 40px; background: #030066; margin-top: 15px; border: solid 1px #003399; color: #ffffff;  font-size: 90%}
.tradlinx_msg_body_name_label { position: absolute; top: 7px; left: 5px; font-size: 75%; }
.tradlinx_msg_body_email_label { position: absolute; top: 7px; left: 5px; font-size: 75%; }
.tradlinx_msg_body_phone_label { position: absolute; top: 7px; left: 5px; font-size: 75%; }
.tradlinx_msg_body_name_input { position: absolute; top: 5px; left: 40px; width: 230px; border: 0px; }
.tradlinx_msg_body_email_input { position: absolute; top: 5px; left: 52px;  width: 218px; border: 0px;}
.tradlinx_msg_body_phone_input { position: absolute; top: 5px; left: 64px;  width: 208px; border: 0px;}
.tradlinx_msg_body_msg_input { position: absolute; top: 5px; left: 5px; width: 264px; height: 75px; border: 0px;}


.tradlinx-chat-inactive-bar-table {
    border-spacing: 0px;
    background-color: #;
    border: 0px;
    height: 34px;
    width: 190px;
}

.tradlinx-chat-inactive-bar-td1 {
    padding-top: 2px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 33px;
    text-align: right;
    vertical-align: middle;
}

.tradlinx-chat-inactive-bar-td2 {
    padding-top: 2px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    font: 12px 나눔고딕; font-weight: bold; color: #ffffff;
    vertical-align: middle;
}
